
a:link{
    color:blue;
    }
a:visited{
    color:lightpink;
    }
a:hover{
    background-color:lightblue;    
}

a:active{
    color:brown;
}

.subtitle{
    font-family: "Georgia', Times, Times New Roman, serif";
    color:white;
    background-color:#4aaaa5;
    height: 50px;
    font-weight:bold;
    font-size: 32px;
    padding:35px;
    width:100%;
    display:block;
}

.sectionbody{
    
    background-image: url("../images/interlaced.png");
    background-color:#ffffff;
    top: 15px;
    overflow: auto;
    margin:50px;
    font-family:"Arial', 'Helvetica Neue', Helvetica, sans-serif";
    max-width:90%;
     }

.introduction{
    font-size:28px;
    color:midnightblue;
    font-weight: bold;
}

.aboutme{
    font-size:24px;
}

table li{
    padding:5px;
    font-size:20px;
}

table th{
    font-size:24px;
    font-weight: bold;
}

.seperator{   
    width:600px;
    border-bottom:solid blue 1ex;
}

.sectionbody:after {
    content:"";
    display:block;
}

.footer, .section:after{
    height:40px;
}
 
.submitBt{
    
    background-color:#4aaaa5;
    font-weight:bold;
    color:white;
    padding:10px;  
    height:auto;
    border:0;
}
.submitBt:hover{
    background-color:blueviolet;
    
}


.submitBt:active{
    color:red;
}

      
.messageBox{
    height:120px;
}   

.hide-on-med-and-down li{

    display:inline-block;
    font-size:24px;
    padding:5px;
}

.title{
    float: left;
}



h1{
    color:#4aaaa5;
    font-size:42px;
    font-weight: bold;
    margin:10px,10px,5px,0px;
}

h4{
    margin-top:10px;
    margin-bottom:10px;
    color:purple;
    font-size:36px;
    font-weight: bold;
}

.hide-on-med-and-down li{
    font-size:32px;
    margin:3px;
}
.sidenav{
    background-image: url("../images/sidebarbk.jpg");
    font-size:30px;
    padding:20px;
    
}  

.chip{
    font-size:32px;
}

.chip ,.sidenav li{  
    padding:5px;
    margin-left:50px;
}

.fa-user{
    color:blue;
}

.fa-bar-chart{
    color:blueviolet;
}

.fa-briefcase{
    color:yellowgreen;
}

.fa-file-text{
    color:white;
}

.fa-envelope{
    color:blueviolet;
}


span{
    font-size:28px;
    color:indigo;
    margin:10px;
}

.card{
    width:90%;
}
.card-content{
    background:url("../images/portfoliobk.jpg") ;
}

.card-links{
    font-size:40px;
    margin:10px;
}

.card-reveal span,.card-content span{
    margin:10px;
    font-size:32px;
    font-family: cursive;
}
.card-reveal{
    background:url("../images/card.jpeg");
    font-size:24px;
    padding:10px;
}

.card-reveal li{
    margin:6px;
}
/* contact section */
.contactBox{
 
    background-color:lightgoldenrodyellow;
    text-align:center;
    font-size:32px;
    width:20%;
    padding:10px;
    float: center;
}

.contact-title{
    text-align:center;
    margin:30px;
}

.contact-lists {
    display:block;
    text-align:center;
    height:60px;
    font-size:36px;
    color:blue;
}


   
.row, 
.row> .column
{
       padding:4px 8px;
}

.footer{

    clear: both;
    background:#4aaaa5;

    width: 100%;

}

.copyright{
        background:grey;
        color:white;
        height:30px;
        position:relative;
        top:10px;
        text-align:center;
        width:100%;
        margin-left:0;
        margin-right:0;
}