.section{
    padding-top:60px;
}
a:link{
    color:blue;
    }
a:visited{
    color:lightpink;
    }
a:hover{
    background-color:lightblue;    
}

a:active{
    color:brown;
}

.subtitle{
    font-family: "Courier New', Courier, monospace";
    color:white;
    background-color:#4aaaa5;
    height: 50px;
    font-weight:bold;
    font-size: 32px;
    padding:35px;
    width:100%;
    display:block;
}

.sectionbody{
    
    background-image: url("../images/interlaced.png");
    background-color:#ffffff;
    top: 45px;
    overflow: auto;
    margin:30px;
    font-family:"Courier New', Courier, monospace";
    max-width:95%;
     }

.introduction{
    font-size:28px;
    color:midnightblue;
    font-weight: bold;
}

.aboutme{
    font-size:24px;
}

.card-skill-front{
    background: url("../images/skillbk1.jpg");
}
.card-skill-back{
    background: url("../images/skillbk2.jpg");
}
.card-skill-other{
    background: url("../images/skillbk3.jpg");
}

.skill{
    font-size:30px;
    color:blue;
    margin:3px;
}

table li{
    padding:5px;
    font-size:20px;
}

table th{
    font-size:24px;
    font-weight: bold;
}

.seperator{   
    width:600px;
    border-bottom:solid blue 1ex;
}

 
      
.messageBox{
    height:120px;
}   

.hide-on-med-and-down li{

    display:inline-block;
    font-size:24px;
    padding:5px;
}

.title{
    float: left;
}



h1{
    color:#4aaaa5;
    font-size:42px;
    font-weight: bold;
    margin:10px,10px,5px,0px;
}

h4{
    margin-top:10px;
    margin-bottom:10px;
    color:purple;
    font-size:36px;
    font-weight: bold;
}

.hide-on-med-and-down li{
    font-size:32px;
    margin:3px;
}
.sidenav{
    background-image: url("../images/sidebarbk.jpg");
    font-size:30px;
    padding:20px;
    
}  

.chip{
    font-size:32px;
}

.chip ,.sidenav li{  
    padding:5px;
    margin-left:50px;
}

.fa-user{
    color:blue;
}

.fa-bar-chart{
    color:blueviolet;
}

.fa-briefcase{
    color:yellowgreen;
}

.fa-file-text{
    color:white;
}

.fa-envelope{
    color:blueviolet;
}


span{
    font-size:28px;
    color:indigo;
    margin:10px;
}

.card-port{
    width:90%;
}
.card-portfolio{
    background:url("../images/portfoliobk.jpg") ;
}

.card-links{
    font-size:40px;
    margin:10px;
}

.card-reveal span,.card-content span{
    margin:10px;
    font-size:32px;
    font-family: cursive;
}
.card-reveal{
    background:url("../images/card.jpeg");
    font-size:24px;
    padding:10px;
}

.card-reveal li{
    margin:6px;
}
/* contact section */
.contactBox{
 
    background-color:lightgoldenrodyellow;
    text-align:center;
    font-size:32px;
    padding:10px;
}

.contact-title{
    text-align:center;
    margin:30px;
}

.contact-lists {
    display:block;
    text-align:center;
    height:60px;
    font-size:36px;
    color:blue;
}

.contact-lists i{
    margin-right:15px;
    margin-left:15px;
}

   
.row, 
.row> .column
{
       padding:4px 8px;
}

.footer{

    clear: both;
    background:#4aaaa5;

    width: 100%;

}

.copyright{
        background:grey;
        color:white;
        height:30px;
        position:relative;
        top:10px;
        text-align:center;
        width:100%;
        margin-left:0;
        margin-right:0;
}